:root {
  --blue: #4772fa;
  --green: #1bddac;
}

body {
  background-color: #252525;
  color: #eee;
}

main {
  padding-top: 50px;
  max-width: 340px;
  margin: 0 auto;
  text-align: center;
}

button {
  background-color: transparent;
  color: rgba(255, 255, 255, 0.6);
  border: 0;
  display: inline-block;
  width: 100px;
  cursor: pointer;
  transition: color 0.2s;
}

button:hover {
  color: rgba(255, 255, 255, 0.9);
}

button.with-text {
  width: auto;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 100px;
  padding: 10px 20px;
  font-size: 1.4rem;
  line-height: 36px;
  transition: background-color 0.2s;
}

button.with-text svg {
  width: 36px;
  float: left;
  margin-right: 5px;
}

button.with-text:hover {
  background-color: rgba(255, 255, 255, 0.15);
}

label {
  display: block;
}

form {
  border: 3px solid #30313d;
  border-radius: 100px;
  margin-top: 25px;
  padding: 10px;
  display: flex;
}

form input[type="text"] {
  background: none;
  color: white;
  border: 0;
  padding: 0 8px;
  display: block;
  width: 100%;
}

form button {
  color: black;
  background-color: rgba(255, 255, 255, 0.6);
  border: 0;
  border-radius: 100px;
  cursor: pointer;
  width: 40px;
  height: 30px;
}

div.task {
  background-color: #313131;
  border-radius: 100px;
  padding: 5px 9px;
  margin-top: 5px;
  display: flex;
  transition: opacity 0.3s;
}

div.task svg {
  height: 20px;
  margin-right: 10px;
  cursor: pointer;
  fill: rgba(255, 255, 255, 0.6);
}

div.task.done {
  opacity: 0.5;
}

div.task span{
  position: relative;
}

div.task span:before {
  content: '';
  display: block;
  width: 0;
  height: 1px;
  background-color: white;
  position: absolute;
  top: 11px;
  transition: width .4s;
}

div.task.done span:before{
  width: 100%;
}
